.hh-grayBox {
    background-color: #F8F8F8;
    margin-bottom: 20px;
    margin-top: 20px;
}


.order-tracking {
    text-align: center;
    width: 33.33%;
    position: relative;
    display: block;
}

.order-tracking .is-complete {
    display: block;
    position: relative;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    border: 0px solid #AFAFAF;
    background-color: #f7be16;
    margin: 0 auto;
    transition: background 0.25s linear;
    -webkit-transition: background 0.25s linear;
    z-index: 2;
}

.order-tracking .is-complete:after {
    display: block;
    position: absolute;
    content: '';
    height: 14px;
    width: 7px;
    top: -2px;
    bottom: 0;
    left: 5px;
    margin: auto 0;
    border: 0px solid #AFAFAF;
    border-width: 0px 2px 2px 0;
    transform: rotate(45deg);
    opacity: 0;
}

.order-tracking.completed .is-complete {
    border-color: #27aa80;
    border-width: 0px;
    background-color: #27aa80;
}

.order-tracking.completed .is-complete:after {
    border-color: #fff;
    border-width: 0px 3px 3px 0;
    width: 7px;
    left: 11px;
    opacity: 1;
}

.order-tracking p {
    color: #A4A4A4;
    font-size: 16px;
    margin-top: 8px;
    margin-bottom: 0;
    line-height: 20px;
}

.order-tracking p span {
    font-size: 14px;
}

.order-tracking.completed p {
    color: #000;
}

.order-tracking::before {
    content: '';
    display: block;
    height: 3px;
    width: calc(100% - 40px);
    background-color: #f7be16;
    top: 13px;
    position: absolute;
    left: calc(-50% + 20px);
    z-index: 0;
}

.order-tracking:first-child:before {
    display: none;
}

.order-tracking.completed:before {
    background-color: #27aa80;
}


.reviewStars svg path {
    color: #ff7d00;
    filter: drop-shadow(0px 0px 10px var(--bsBlack));
}

.prdctClr {
    color: #1a759f;
}



.profilePic {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
}

.detProfBox {
    background-color: var(--baseClr);
    box-shadow: 0px 0px 10px var(--bsBlack);

    position: sticky;
    top: 90px;
}

.profRightBox .revBoxData>div {
    background-color: #e7ecef;
}

.orderListBox>div {
    background-color: #f9f7f3;
}

.profileSection {
    min-height: calc(100vh - 126px);
}

.profileSection:before {
    content: "";
    position: fixed;
    z-index: -1;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: url(../images/background/bag.png);
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.1;
}

.btnProfPicEdit {
    right: 0;
    bottom: 0;
    padding: 0;
    font-size: 20px;
    height: 30px;
    width: 30px;
    background-color: #ffffff80 !important;
    cursor: pointer;
}

.editAddress path,
.editBtnProf path,
.btnProfPicEdit path {
    color: #233d4d;
    transition: all 0.2s ease;
}

.editAddress:hover path,
.editBtnProf:hover path,
.btnProfPicEdit:hover path {
    color: #005f73;
    transition: all 0.2s ease;
}

.editAddress,
.editBtnProf {
    padding: 3px 10px;
    cursor: pointer;
}


.prdctImg {
    max-height: 70px;
    max-width: 70px;
    overflow: hidden;
}

.prdctImg img {
    object-fit: cover;
}

.profName input {
    border: none !important;
    background-color: #ffffff80;
    padding: 3px 5px;
    border-bottom: 2px solid #ddd;
    color: var(--bsBlack);
    outline: none;
    font-size: 18px;
}

.detProfBox::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: url(../images/background/cart.png);
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.05;

}

.goBackBtn i,
.goBackBtn path {
    color: var(--bsWhite);
}

.revInp {
    height: 150px !important;
    resize: none;
}

/* rating box  */

.SingleProduct::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: url(../images/background/shop.png);
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.05;
}

.rt {
    min-width: 72px !important;
    margin-bottom: 10px;
}

.ratingStars {
    display: flex;
    scale: 0.15;
    width: 300px;
    height: 50px;
    transform: rotate(180deg);
}

.star {
    margin: 1em;
    appearance: none;
    --color: #fcffd4;
    border-left: 6.4721359549996em solid transparent;
    border-right: 6.4721359549996em solid transparent;
    border-bottom: 4em solid var(--color);
    transform: rotate(0deg);
    cursor: pointer;
    filter: drop-shadow(0px 0px 15px var(--bsBlack));
}

.star:before {
    content: "";
    border-left: 6.4721359549996em solid transparent;
    border-right: 6.4721359549996em solid transparent;
    border-top: 4em solid var(--color);
    position: absolute;
    left: -6.4721359549996em;
    transform: rotate(108deg);
}

.star:after {
    content: "";
    border-left: 6.4721359549996em solid transparent;
    border-right: 6.4721359549996em solid transparent;
    border-top: 4em solid var(--color);
    position: absolute;
    left: -6.4721359549996em;
    transform: rotate(253deg);
}

.ratingStars>.star:hover~.star,
.ratingStars>.star:hover,
.ratingStars>.star:checked~.star,
.ratingStars>.star:checked {
    --color: #ffb703;
}

.ratingStars>.star:checked~.star,
.ratingStars>.star:checked {
    animation: rotate 0.5s linear forwards;
    transform: rotate(360deg);
    transition: transform 0.3s;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    50% {
        scale: 1.5;
    }

    100% {
        transform: rotate(360deg);
    }
}



/* admin table  */

.adminTable th {
    padding: 5px;
    border-bottom: 2px solid var(--bsBlack);
    background-image: linear-gradient(0deg, #e5e5e5, transparent, transparent);
}

.adminTable td {
    background-image: linear-gradient(0deg, #e5e5e5, transparent, transparent);
    padding: 10px 5px;
    color: var(--bsBlack);
    height: 50.7px;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 170px;
}

/* toggle icon  */




.admin-activate {
    display: table-cell;
    position: relative;
    height: 30px;
    box-sizing: border-box;
}

.knobs,
.layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.btnToggleActivate {
    position: relative;
    top: 50%;
    width: 70px;
    height: 30px;
    margin: -20px auto 0 auto;
    overflow: hidden;
}

.checkActive {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
}

.knobs {
    z-index: 2;
}

.layer {
    width: 100%;
    background-color: var(--baseClr);
    transition: 0.3s ease all;
    z-index: 1;
}

.btnToggleActivate,
.btnToggleActivate .layer {
    border-radius: 100px;
}

.btnToggleActivate .knobs:before {
    content: "NO";
    position: absolute;
    top: 2px;
    left: 2px;
    width: 26px;
    height: 26px;
    color: var(--bsWhite);
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    line-height: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #780000;
    border-radius: 50%;
    transition: 0.3s ease all, left 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15);
}

.btnToggleActivate .checkActive:active+.knobs:before {
    width: 46px;
    border-radius: 100px;
}

.btnToggleActivate .checkActive:checked:active+.knobs:before {
    margin-left: -26px;
}

.btnToggleActivate .checkActive:checked+.knobs:before {
    content: "YES";
    left: 42px;
    background-color: #386641;
}

.btnToggleActivate .checkActive:checked~.layer {
    background-color: #aff0bc;
}


/* responsive  */


@media(max-width:1399px) {}

@media(max-width:1199px) {}

@media(max-width:991px) {}

@media(max-width:767px) {}

@media(max-width:575px) {}