.showAllProducts::before {
    content: "";
    position: fixed;
    z-index: -1;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: url(../images/background/shop.png);
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.05;
}

.showAllProducts {
    min-height: calc(100vh - 122px);
}

.products {
    gap: 20px;
}

.products img {
    height: 250px;
    object-fit: cover;
}

.products .card {
    width: 300px;
    box-shadow: 0px 0px 10px #bbb;
    position: relative;
}

.products .card:hover {
    box-shadow: 0px 0px 6px #ddd;
}

.cardPrice {
    position: absolute;
    top: 200px;
    height: 50px;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 3px 10px;
    backdrop-filter: blur(10px);
    background-color: #dfe0dc80;
}

.allProdctFiltSect {
    position: sticky;
    top: 72px;
    z-index: 3;
    background-color: var(--bsWhite);
    width: 100%;
}

.w-300 {
    width: 300px;
}

.goBackBtn path {
    color: var(--bsWhite);
}


.onSale:before {
    content: "SALE";
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 20px;
    color: var(--bsWhite);
    background-color: var(--bsDark);
    font-size: 12px;
    top: 30px;
    z-index: 1;
}

.onHot::before {
    content: "HOT";
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 20px;
    color: var(--bsWhite);
    background-color: #FF6F61;
    font-size: 12px;
    top: 30px;
    z-index: 1;
}


/* responsive  */


@media(max-width:1399px) {}

@media(max-width:1199px) {}

@media(max-width:991px) {
    .products .card {
        width: 325px;
    }


    .allProdctFiltSect {
        display: grid !important;
        grid-template-columns: 1fr 1fr;
    }

    .allProdctFiltSect h1 {
        grid-column: 1/3;
        grid-row: 1;
    }

    .w-300 {
        width: 100%;
        margin: 10px 0;
    }
}

@media(max-width:767px) {
    .products .card {
        width: 245px;
    }

    .products .card-title {
        font-size: 18px;
        margin: 0;
    }
}

@media(max-width:575px) {
    .allProdctFiltSect {
        grid-template-columns: 1fr;
    }

    .allProdctFiltSect h1 {
        grid-column: 1;
        grid-row: 1;
    }

    .filterBox {
        grid-row: 2;
    }

    .onHot::before,
    .onSale:before {
        width: 35px;
    }
}